<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="demo_bot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Revolute_9">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_9']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_10">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_10']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Slider_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Slider_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Slider_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Slider_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_1">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_2">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_3">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_4">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_5">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_6">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_7">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Revolute_8">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>            

        </ros2_control>
    </xacro:macro>
</robot>
