<?xml version="1.0" ?>
<robot name="demo_bot">


  <link name="Chassis_1">
    <visual name="Chassis_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://base_urdf/meshes/Chassis_1.stl"/>
      </geometry>
      <material name="Chassis_1-material">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision name="Chassis_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://base_urdf/meshes/Chassis_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="15.0"/>
      <origin xyz="0.125 0.198 0.4" rpy="0 0 0"/>
      <inertia ixx="0.5" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="0.5"/>
    </inertial>
  </link>

  <link name="arm_shoulder241_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/arm_shoulder241_1.stl"/></geometry>
      <material name="white"><color rgba="1 1 1 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/arm_shoulder241_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="0.00022 0.02951 -0.0124" rpy="0 0 0"/>
      <mass value="2.382"/>
      <inertia ixx="0.005856" ixy="-1.79e-05" ixz="3.55e-06" iyy="0.005031" iyz="0.00149" izz="0.003536"/>
    </inertial>
  </link>

  <link name="arm_elbow_4_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/arm_elbow_4_1.stl"/></geometry>
      <material name="white"><color rgba="1 1 1 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/arm_elbow_4_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="0.03853 -0.0906 0.0" rpy="0 0 0"/>
      <mass value="2.269"/>
      <inertia ixx="0.01572" ixy="0.003611" ixz="2.3e-06" iyy="0.00443" iyz="2.5e-06" izz="0.01532"/>
    </inertial>
  </link>

  <link name="elbow2_p4_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/elbow2_p4_1.stl"/></geometry>
      <material name="red_ish"><color rgba="1 0 0.5 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/elbow2_p4_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="0.07048 0.04217 -0.00017" rpy="0 0 0"/>
      <mass value="1.875"/>
      <inertia ixx="0.004641" ixy="0.001595" ixz="1.1e-06" iyy="0.004625" iyz="-3.6e-06" izz="0.007501"/>
    </inertial>
  </link>

  <link name="wrist_1_p4_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/wrist_1_p4_1.stl"/></geometry>
      <material name="green"><color rgba="0 1 0 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/wrist_1_p4_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="-0.00022 0.02951 -0.0124" rpy="0 0 0"/>
      <mass value="1.313"/>
      <inertia ixx="0.003905" ixy="5.04e-06" ixz="-4.2e-07" iyy="0.003794" iyz="0.000101" izz="0.001155"/>
    </inertial>
  </link>

  <link name="wrist_2_p4_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/wrist_2_p4_1.stl"/></geometry>
      <material name="red"><color rgba="1 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/wrist_2_p4_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="0.06341 0.01024 0.00019" rpy="0 0 0"/>
      <mass value="1.338"/>
      <inertia ixx="0.001363" ixy="0.000236" ixz="-1.6e-07" iyy="0.002623" iyz="3.6e-07" izz="0.002692"/>
    </inertial>
  </link>

  <link name="end_effector_p4_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/end_effector_p4_1.stl"/></geometry>
      <material name="green"><color rgba="0 1 0 1"/></material>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/end_effector_p4_1.stl"/></geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 -0.00643" rpy="0 0 0"/>
      <mass value="0.17"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="gripper_v43_1">
    <visual>
      <geometry><mesh filename="package://base_urdf/meshes/gripper_v43_1.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://base_urdf/meshes/gripper_v43_1.stl"/></geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="-0.133 -0.007 0.33" rpy="0 0 0"/>
      <inertia ixx="4.73e-05" iyy="5.61e-05" izz="8.89e-06" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <link name="Finger_left_2">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Finger_left_2.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Finger_left_2.stl"/></geometry></collision>
    <inertial><mass value="0.1"/><inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Finger_right_2">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Finger_right_2.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Finger_right_2.stl"/></geometry></collision>
    <inertial><mass value="0.1"/><inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>

  <link name="Az_Front_Left_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Az_Front_Left_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Az_Front_Left_1.stl"/></geometry></collision>
    <inertial><mass value="0.5"/><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Az_Front_right_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Az_Front_right_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Az_Front_right_1.stl"/></geometry></collision>
    <inertial><mass value="0.5"/><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Az_Back_Right_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Az_Back_Right_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Az_Back_Right_1.stl"/></geometry></collision>
    <inertial><mass value="0.5"/><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Az_Back_left_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Az_Back_left_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Az_Back_left_1.stl"/></geometry></collision>
    <inertial><mass value="0.5"/><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>

  <link name="Wheel_Front_Left_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Wheel_Front_Left_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Wheel_Front_Left_1.stl"/></geometry></collision>
    <inertial><mass value="1.0"/><inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Wheel_Front_Right_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Wheel_Front_Right_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Wheel_Front_Right_1.stl"/></geometry></collision>
    <inertial><mass value="1.0"/><inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Wheel_Back_Right_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Wheel_Back_Right_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Wheel_Back_Right_1.stl"/></geometry></collision>
    <inertial><mass value="1.0"/><inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>
  <link name="Wheel_Back_Left_1">
    <visual><geometry><mesh filename="package://base_urdf/meshes/Wheel_Back_Left_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://base_urdf/meshes/Wheel_Back_Left_1.stl"/></geometry></collision>
    <inertial><mass value="1.0"/><inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0" ixz="0" iyz="0"/></inertial>
  </link>

  <joint name="Revolute_9" type="revolute">
    <origin xyz="0 0 0" rpy="-3.14159261 0 3.13783310"/>
    <parent link="Chassis_1"/>
    <child link="arm_shoulder241_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="50.0" velocity="3.14" lower="-6.2831853" upper="6.2831853"/>
  </joint>

  <joint name="Revolute_10" type="revolute">
    <origin xyz="-0.00320691 0.077 0.11500004" rpy="1.5670368 -1.5707963 0"/>
    <parent link="arm_shoulder241_1"/>
    <child link="arm_elbow_4_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="50.0" velocity="3.14" lower="-2.059" upper="2.0944"/>
  </joint>

  <joint name="Revolute_11" type="revolute">
    <origin xyz="0.28467 -0.05322 0.00817" rpy="0 0 0"/>
    <parent link="arm_elbow_4_1"/>
    <child link="elbow2_p4_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="32.0" velocity="3.14" lower="-3.927" upper="0.19198"/>
  </joint>

  <joint name="Revolute_12" type="revolute">
    <origin xyz="-0.16933092 -0.08577945 0.06658" rpy="0 1.5707963 0"/>
    <parent link="elbow2_p4_1"/>
    <child link="wrist_1_p4_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="32.0" velocity="3.14" lower="-6.2831853" upper="6.2831853"/>
  </joint>

  <joint name="Revolute_13" type="revolute">
    <origin xyz="1.23e-06 1.02e-06 -0.13555" rpy="-1.5707963 0 1.5707963"/>
    <parent link="wrist_1_p4_1"/>
    <child link="wrist_2_p4_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="32.0" velocity="3.14" lower="-1.69297" upper="3.14159261"/>
  </joint>

  <joint name="Revolute_14" type="revolute">
    <origin xyz="-0.07700037 0.07099971 0" rpy="1.5707963 0 0"/>
    <parent link="wrist_2_p4_1"/>
    <child link="end_effector_p4_1"/>
    <axis xyz="0 0 -1"/>
    <limit effort="20.0" velocity="3.14" lower="-3.14159261" upper="3.14159261"/>
  </joint>

  <joint name="Fastened_1" type="fixed">
    <origin xyz="0 0 -0.028" rpy="0 0 1.5707963"/>
    <parent link="end_effector_p4_1"/>
    <child link="gripper_v43_1"/>
  </joint>

  <joint name="Slider_1" type="prismatic">
    <origin xyz="0.0161 0.0007 -0.06" rpy="-1.5707963 0 1.623"/>
    <parent link="gripper_v43_1"/>
    <child link="Finger_left_2"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1" velocity="1" lower="-0.1" upper="0.1"/>
  </joint>

  <joint name="Slider_2" type="prismatic">
    <origin xyz="-0.0186 -0.001 -0.06" rpy="1.5707963 0 1.623"/>
    <parent link="gripper_v43_1"/>
    <child link="Finger_right_2"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1" velocity="1" lower="-0.1" upper="0.1"/>
  </joint>

  <joint name="Revolute_5" type="revolute">
    <origin xyz="-0.078325 -0.04888 0.78425" rpy="-3.14159 0 3.14159"/>
    <parent link="Chassis_1"/>
    <child link="Az_Front_Left_1"/>
    <axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_6" type="revolute">
    <origin xyz="-0.078325 0.4585 0.7848" rpy="-3.14159 0 3.14159"/>
    <parent link="Chassis_1"/>
    <child link="Az_Front_right_1"/>
    <axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_7" type="revolute">
    <origin xyz="0.429 0.458 0.784" rpy="3.14159 0 0"/>
    <parent link="Chassis_1"/>
    <child link="Az_Back_Right_1"/>
    <axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_8" type="revolute">
    <origin xyz="0.429 -0.049 0.784" rpy="3.14159 0 0"/>
    <parent link="Chassis_1"/>
    <child link="Az_Back_left_1"/>
    <axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>

  <joint name="Revolute_1" type="revolute">
    <parent link="Az_Front_Left_1"/><child link="Wheel_Front_Left_1"/>
    <origin xyz="0 0.0024 -0.057" rpy="-1.5707 0 0"/><axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_2" type="revolute">
    <parent link="Az_Front_right_1"/><child link="Wheel_Front_Right_1"/>
    <origin xyz="0 -0.0024 -0.057" rpy="1.5707 0 0"/><axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_3" type="revolute">
    <parent link="Az_Back_Right_1"/><child link="Wheel_Back_Right_1"/>
    <origin xyz="0 0.0024 -0.057" rpy="-1.5707 0 0"/><axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>
  <joint name="Revolute_4" type="revolute">
    <parent link="Az_Back_left_1"/><child link="Wheel_Back_Left_1"/>
    <origin xyz="0 -0.0024 -0.057" rpy="1.5707 0 0"/><axis xyz="0 0 -1"/><limit effort="1" velocity="1" lower="-6.28" upper="6.28"/>
  </joint>

</robot>